@using TiendaMVC.ViewModel
@model List<PresupuestoViewModel>
@{
    ViewData["Title"] = "Presupuestos";
}
<h2>@ViewData["Title"]</h2>
<a class="btn btn-primary" asp-controller="Presupuestos" asp-action="CrearPresupuesto">Crear Presupuesto</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Nombre Destinatario</th>
            <th>Fecha Creacion</th>
            <th>Detalle</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presupuesto in Model)
        {
            <tr>
                <td hidden>@presupuesto.Id</td>
                <td>@presupuesto.NombreDestinatario</td>
                <td>@presupuesto.FechaCreacion.ToShortDateString()</td>
                <td class="text-center">
                    <a asp-controller="Presupuestos" asp-action="Details"
                        asp-route-id="@presupuesto.Id" class="btn btn-secondary">Ver Detalle</a>
                </td>
                <td class="text-center">
                    <a asp-controller="Presupuestos" asp-action="EditarPresupuesto"
                        asp-route-id="@presupuesto.Id" class="btn btn-warning">Editar</a>
                    <a asp-controller="Presupuestos" asp-action="DeletePresupuesto"
                        asp-route-id="@presupuesto.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>

        }
    </tbody>
</table>